:root{
  --main-color:#FF97BB;
  --postcard-color:#ffff;
  --btn-color:#ff77a6;
  --btn-hover-color:#ff669b;
  --text-color:#e64c84;
}  

*,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: var(--main-color);
position: relative;
max-height: 240px;
  }
 /*image*/
  .hearts{
    width: 70px;
    height: 70px;
position: absolute;
  }
  .heart1{
    background-image: url(./img/heart1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    top: -100%;
    left: 30%;
    transform: rotate(10deg);
  }
  .heart2{
    background-image: url(./img/heart2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 55px;
    top: -80%;
    left: 88%;
    transform: rotate(-10deg);
  }
  .heart3{
    background-image: url(./img/heart3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    top: -30%;
    left: 10%;
    transform: rotate(-15deg);
  }
  .heart4{
    background-image: url(./img/heart4.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -55%;
    left: 47.6%;
    width: 90px;
    height: 90px;
   
  }
  .heart5{
    background-image: url(./img/heart3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 55px;
    top: -120%;
    left: 70%;

  }
  .heart6{
    background-image: url(./img/heart2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    top: 90%;
    left: 5%;
    transform: rotate(-20deg);
  }
  .heart7{
    background-image: url(./img/heart1.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -150%;
    left: 4%;
    transform: rotate(10deg);
  }
.heart8{
    background-image: url(./img/heart4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 55px;
    top: -133%;
    left: 40%;
    transform: rotate(18deg);
}
.heart9{
    background-image: url(./img/heart3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    top: -50%;
    left: 80%;
    transform: rotate(7deg);
}
.heart10{
    background-image: url(./img/heart1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    top: 80%;
    left: 77%;
   
}
.heart11{
    background-image: url(./img/heart4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    top: 30%;
    left: 27%;
    transform: rotate(-10deg);
}
.heart12{
    background-image: url(./img/heart7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    top: 130%;
    left: 18%;
  
}
.heart13{
    background-image: url(./img/cat.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    top: 72%;
    left: 52.8%;
    transform: rotate(10deg);
}
.heart14{
    background-image: url(./img/heart8.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    width: 80px;
    top: 160%;
    left: 55%;
    transform: rotate(10deg);
}
.heart15{
    background-image: url(./img/heart6.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 59px;
    width: 59px;
    top: 170%;
    left:93%;
    transform: rotate(10deg);
}
.heart16{
    background-image: url(./img/heart4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 122%;
    left:42%;
    transform: rotate(-10deg);
}
.heart17{
    background-image: url(./img/heart6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 65px;
    height: 65px;
    top: -150%;
    left:15%;
    transform: rotate(-12deg);
}
.heart18{
    background-image: url(./img/heart6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    top: 10%;
    left:87%;
    transform: rotate(10deg);
}
.heart19{
    background-image: url(./img/heart7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
   
}
.heart20{
    background-image: url(./img/heart6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    top: 170%;
    left:33%;

}
.heart21{ 
    background-image: url(./img/heart2.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -100%;
    left:60%;
    transform: rotate(10deg);
}
.cloud1{
    background-image: url(./img/cloud__heart.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -100%;
    left: 44%;
}
.cloud2{
    background-image: url(./img/cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 170px;
    position: absolute;
    top: 120%;
    left: 8%;
}
.cloud3{
    background-image: url(./img/cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 170px;
    position: absolute;
    top: 80%;
    left: 82%;
}
.cloud4{
    background-image: url(./img/cloud__heart.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 160%;
    left: 66%;
}
.cloud5{
    background-image: url(./img/cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height:160px;
    position: absolute;
    top: -166%;
    left: 16%;
}
.cloud6{
    background-image: url(./img/cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -140%;
    left: 88%;
}


/*animation*/

@keyframes moveX {
from {
    transform: translateX(0);
}
to {
    transform: translateX(-400px);   
}
}
.clouds{
    animation-name: moveX;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    }
.wings{
    transform: scale(1);
    animation: pulse 3s infinite;
    }
.main__postcard{
    transform: scale(1);
    animation: pulse 3s infinite;
  
}
@keyframes fadeInUp {
    from {
      transform: translate3d(0,140px,0);
    }
  
    to {
      transform: translate3d(0,0,0);
      opacity: 1    
    }
  }
@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}
.hearts{
    animation: tilt-shaking 0.8s infinite;
    
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
/*styles*/
.main__postcard{
margin: 0 auto;
width: 300px;
height: 150px;
background-color: var(--postcard-color);
display: flex;
justify-content: center;
align-items: center;
border-radius: 7px;
position: relative;
}

.main__heart{
    background-image: url(./img/gif/icons8-half-heart.gif);
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
}
.main__left-wing{
    background-image: url(./img/left__wing.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 33%;
   
}
.wings{
    width: 130px;
    height: 130px;
   
}
.main__right-wing{
    background-image: url(./img/right__wing.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 60%;
}
.main__btn{
width: 150px;
height: 50px;
background-color: var(--btn-color);
margin: 0 auto;
margin-top: 40px;
border-radius: 7px;
border: 1px;
font-size: 20px;
color: var(--postcard-color);
cursor: pointer;
transition: all 0.2s;
}
.main__btn:hover{
    background-color: var(--btn-hover-color);
}
.main__poster{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 21%;
}
.text{
    margin: 0 auto;
    font-size: 64px;
    color: var(--text-color);
    font-weight:900;
}
.btn__yes{
    display: none;
width: 150px;
height: 50px;
background-color: var(--btn-color);
margin: 0 auto;
margin-top: 40px;
border-radius: 7px;
border: 1px;
font-size: 20px;
color: var(--postcard-color);
cursor: pointer;
transition: all 0.2s;
}
.btn__no{
display: none;
width: 150px;
height: 50px;
background-color: var(--btn-color);
margin: 0 auto;
margin-top: 40px;
border-radius: 7px;
border: 1px;
font-size: 20px;
color: var(--postcard-color);
cursor: pointer;
transition: all 0.2s;
}
.buttons{
    width: 900px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}
.btn__yes:hover{
    background-color: var(--btn-hover-color);
}
.btn__no:hover{
    background-color: var(--btn-hover-color);
}
.kiss_cat{
    background-image: url(./img/gif/kiss__cat.gif);
    margin: 0 auto;
    position: absolute;
    top: -30%;
    left: 28.5%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
